red, .color-red {
    color: #f00;
}
.disabled {
	cursor: not-allowed; */
    background-color: #eee;
    opacity: 1;
}
fontRed, .color-fontRed {
    color: #f00;
    font-style:normal;
}
.select2-container--default .select2-selection--single {
	height: 34px;
    border-radius: 0px;
    border-color: #d2d6de;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
}
.bs-wizard > .bs-wizard-step.current > .bs-wizard-dot {
    background: #c89900;
}
.bs-wizard > .bs-wizard-step.current > .bs-wizard-dot:after {
    background: #a57800;
}
